.profile-container {
  min-height: 100vh;
  width: 100%;
  margin: 0;

  display: flex;
  justify-content: center;
  background-color: whitesmoke;
}

.profile-cont {
  width: 80%;
  margin-top: 2rem;
  margin-bottom: 2rem;
  
}


.user-profile,
.user-course {
    border-radius: 10px;
    margin-top: 2rem;
    padding: 3rem 2rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.user-profile{
    background-color: #33004b;
  color: white;
}
.user-course {
  background-color: #33004b;
  color: white;
  font-weight: 500;
}
.profile h1{
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.user-course h1 {
  width: 100%;
  text-align: center;
  font-weight: 800;
}
.user-course table {
  width: 90%;
  margin: 20px auto;
  border-collapse: collapse;
  background-color: #570c69;
  color: white;
}

.user-course th,
.user-course td {
  padding: 10px;
  text-align: left;
  border: 1px solid white;
}

.user-course th {
  background-color: #6d0e7d;
}
.user-course table td a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: underline;
  color: white;
}

.user-course tr {
  background-color: #4c0954;
  width: 90%;
}

.user-course tr:hover {
  background-color: #5c046c;
}
